<template>
	<v-layout row wrap>
		<v-flex xs12>
			<v-alert
				v-model="alert"
				dismissible
				type="success">
				{{ message }}
			</v-alert>
			<v-toolbar flat color="white">
				<v-toolbar-title>Buses</v-toolbar-title>
				<v-spacer></v-spacer>
				<v-dialog v-model="dialog" max-width="500px">
					<template v-slot:activator="{ on }">
						<v-btn color="primary" dark class="mb-2" v-on="on">Agregar</v-btn>
					</template>
					<v-card>
						<v-card-title>
							<span class="headline">{{ formTitle }}</span>
						</v-card-title>

						<v-card-text>
							<v-container grid-list-md>
								<v-form ref="form">
									<v-text-field
										v-model="bus.code"
										label="Código"
										required
									></v-text-field>
									<v-text-field
										v-model="bus.registration"
										label="Patente"
										required
									></v-text-field>
								</v-form>
							</v-container>
						</v-card-text>

						<v-card-actions>
							<v-spacer></v-spacer>
							<v-btn color="danger" @click="close">Cancelar</v-btn>
							<v-btn color="success" @click="submit">Guardar</v-btn>
						</v-card-actions>
					</v-card>
				</v-dialog>
			</v-toolbar>
			<v-data-table
				:headers="headers"
				:items="buses"
				class="elevation-1"
				>
				<template v-slot:items="props">
					<td>{{ props.item.code }}</td>
					<td>{{ props.item.registration }}</td>
					<td>{{ props.item.capacity }}</td>
					<td class="justify-center layout px-0">
						<v-icon
							small
							class="mr-2"
							@click="editBus(props.item)"
							>
							edit
						</v-icon>
						<v-icon
							small
							@click="deleteBus(props.item)"
							>
							delete
						</v-icon>
					</td>
				</template>
			</v-data-table>
		</v-flex>
	</v-layout>
</template>
<script>
export default {
	data: () => ({
		baseURI: "/bus/",
		dialog: false,
		headers: [
			{text: 'Código',value: 'code'},
			{text: 'Patente',value: 'registration'},
			{text: 'Capacidad',value: 'capacity'},
		],
		bus: {
			code: '',
			registration: '',
		},
		defaultBus: {
			code: '',
			registration: '',
		},
		buses: [],
		editedIndex: -1,
		message: '',
		alert: false,
	}),
	computed: {
		formTitle () {
			return this.editedIndex == -1 ? 'Nuevo Bus' : 'Editar Bus'
		}
	},
	methods: {
		initialize: function() {
			this.$http.get(this.baseURI)
			.then(response => {
				this.buses = response.data
			})
			.catch(() => {
				alert("Ha ocurrido un error. Inténtalo más tarde")
			});
		},
		submit: function(){
			if(this.editedIndex > -1){
				let bus = this.buses[this.editedIndex]
				this.$http.put(this.baseURI+bus.id+'/', this.bus)
				.then(response => {
					this.message = "La ciudad fue actualizada exitosamente"
					this.alert = true
					this.$refs.form.reset()
					this.close()
					this.initialize()
				}).catch(error => {
					alert("Ha ocurrido un error. Inténtalo más tarde")
				});
			}
			else{
				this.$http.post(this.baseURI, this.bus)
				.then(response => {
					this.message = "El bus fue creado exitosamente"
					this.alert = true
					this.$refs.form.reset()
					this.close()
					this.initialize()
				})
				.catch(error => {
					alert("Ha ocurrido un error. Inténtalo más tarde")
				});
			}
			
		},
		deleteBus: function(bus){
			let resp = confirm('¿Estás seguro que quieres eliminar este registro?')
			if(resp){
				this.$http.delete(this.baseURI+bus.id)
				.then(response => {
					this.message = "La ciudad fue eliminada exitosamente"
					this.alert = true
					this.initialize()
				})
				.catch(error => {
					alert("Ha ocurrido un error. Inténtalo más tarde.")
				});
			}
		},
		editBus: function(bus){
			this.editedIndex = this.buses.indexOf(bus)
			this.bus = Object.assign({}, bus)
			this.dialog = true
		},
		close: function() {
			this.dialog = false
			this.$refs.form.reset()
			this.bus = Object.assign({}, this.defaultBus)
			this.editedIndex = -1
		},
	},
	created () {
		this.initialize()
	},
}
</script>