<template>
	<v-layout row wrap>
		<v-flex xs12>
			<v-alert
				v-model="alert"
				dismissible
				type="success">
				{{ message }}
			</v-alert>
			<v-toolbar flat color="white">
				<v-toolbar-title>Asignación de máquinas</v-toolbar-title>
				<v-spacer></v-spacer>
				<v-dialog v-model="dialog" max-width="500px">
					<template v-slot:activator="{ on }">
						<v-btn color="primary" dark class="mb-2" v-on="on">Agregar</v-btn>
					</template>
					<v-card>
						<v-card-title>
							<span class="headline">{{ formTitle }}</span>
						</v-card-title>

						<v-card-text>
							<v-container grid-list-md>
								<v-alert
									v-model="errorAlert"
									dismissible
									type="error">
									<ul>
										<li v-for="(value, key) in busErrors">
											{{ value }}
										</li>
									</ul>
								</v-alert>
								<v-form ref="form">
									<v-select
										v-model="busdriver.bus"
										item-text="registration"
										item-value="id"
										:items="buses"
										label="Bus"
										required
									></v-select>
									<v-select
										v-model="busdriver.driver"
										item-text="fullName"
										item-value="id"
										:items="drivers"
										label="Chofer"
										required
									></v-select>
								</v-form>
							</v-container>
						</v-card-text>

						<v-card-actions>
							<v-spacer></v-spacer>
							<v-btn color="danger" @click="close">Cancelar</v-btn>
							<v-btn color="success" @click="submit">Guardar</v-btn>
						</v-card-actions>
					</v-card>
				</v-dialog>
			</v-toolbar>
			<v-data-table
				:headers="headers"
				:items="busesDrivers"
				class="elevation-1"
				>
				<template v-slot:items="props">
					<td>{{ props.item.bus_code }}</td>
					<td>{{ props.item.bus_registration }}</td>
					<td>{{ props.item.driver_name }}</td>
					<td class="justify-center layout px-0">
						<v-icon
							small
							class="mr-2"
							@click="editBus(props.item)"
							>
							edit
						</v-icon>
						<v-icon
							small
							@click="deleteBus(props.item)"
							>
							delete
						</v-icon>
					</td>
				</template>
			</v-data-table>
		</v-flex>
	</v-layout>
</template>
<script>
export default {
	data: () => ({
		baseURI: "/bus_driver/",
		dialog: false,
		headers: [
			{text: 'Bus',value: 'bus_code'},
			{text: 'Patente',value: 'bus_registration'},
			{text: 'Chofer',value: 'driver_name'},
		],
		busdriver: {
			bus: null,
			driver: null,
		},
		defaultBusDriver: {
			bus: null,
			driver: null,
		},
		buses: [],
		drivers: [],
		busesDrivers: [],
		editedIndex: -1,
		message: '',
		alert: false,
		errorAlert: false,
		busErrors: [],
	}),
	computed: {
		formTitle () {
			return this.editedIndex == -1 ? 'Nueva Asignación' : 'Editar Asignación'
		}
	},
	methods: {
		initialize: function() {
			this.$http.get(this.baseURI)
			.then(response => {
				this.busesDrivers = response.data
			})
			.catch(() => {
				alert("Ha ocurrido un error. Inténtalo más tarde")
			});

			this.$http.get('/drivers/')
			.then(response => {
				this.drivers = response.data
			})
			.catch(error => {
				alert("Ha ocurrido un error. Inténtalo más tarde")
			});

			this.$http.get('/bus/')
			.then(response => {
				this.buses = response.data
			})
			.catch(error => {
				alert("Ha ocurrido un error. Inténtalo más tarde")
			});
		},
		submit: function(){
			if(this.editedIndex > -1){
				let busdriver = this.busesDrivers[this.editedIndex]
				this.$http.put(this.baseURI+busdriver.id+'/', this.busdriver)
				.then(response => {
					this.message = "La asignación fue editada exitosamente"
					this.alert = true
					this.$refs.form.reset()
					this.close()
					this.initialize()
				}).catch(error => {
					this.errorAlert = true
					for(var key in error.response.data){
						if(key == "bus")
							this.busErrors = error.response.data[key]
					}
				});
			}
			else{
				this.$http.post(this.baseURI, this.busdriver)
				.then(response => {
					this.message = "La asignación fue creada exitosamente"
					this.alert = true
					this.$refs.form.reset()
					this.close()
					this.initialize()
				})
				.catch(error => {
					this.errorAlert = true
					for(var key in error.response.data){
						this.busErrors = error.response.data[key]
					}
				});
			}
			
		},
		deleteBus: function(bus){
			let resp = confirm('¿Estás seguro que quieres eliminar este registro?')
			if(resp){
				this.$http.delete(this.baseURI+bus.id)
				.then(response => {
					this.message = "La ciudad fue eliminada exitosamente"
					this.alert = true
					this.initialize()
				})
				.catch(error => {
					alert("Ha ocurrido un error. Inténtalo más tarde.")
				});
			}
		},
		editBus: function(busdriver){
			this.busErrors = []
			this.errorAlert = false
			this.editedIndex = this.busesDrivers.indexOf(busdriver)
			this.busdriver = Object.assign({}, busdriver)
			this.dialog = true
		},
		close: function() {
			this.busErrors = []
			this.errorAlert = false
			this.dialog = false
			this.$refs.form.reset()
			this.busdriver = Object.assign({}, this.defaultBusDriver)
			this.editedIndex = -1
		},
	},
	created () {
		this.initialize()
	},
}
</script>