<template>
	<v-layout row wrap>
		<v-flex xs12>
			<v-alert
				v-model="alert"
				dismissible
				type="success">
				{{ message }}
			</v-alert>
			<v-toolbar flat color="white">
				<v-toolbar-title>Ciudades</v-toolbar-title>
				<v-spacer></v-spacer>
				<v-dialog v-model="dialog" max-width="500px">
					<template v-slot:activator="{ on }">
						<v-btn color="primary" dark class="mb-2" v-on="on">Agregar</v-btn>
					</template>
					<v-card>
						<v-card-title>
							<span class="headline">{{ formTitle }}</span>
						</v-card-title>

						<v-card-text>
							<v-container grid-list-md>
								<v-form ref="form">
									<v-text-field
										v-model="city.name"
										label="Nombre"
										required
									></v-text-field>
								</v-form>
							</v-container>
						</v-card-text>

						<v-card-actions>
							<v-spacer></v-spacer>
							<v-btn color="danger" @click="close">Cancelar</v-btn>
							<v-btn color="success" @click="submit">Guardar</v-btn>
						</v-card-actions>
					</v-card>
				</v-dialog>
			</v-toolbar>
			<v-data-table
				:headers="headers"
				:items="cities"
				class="elevation-1"
				>
				<template v-slot:items="props">
					<td>{{ props.item.name }}</td>
					<td class="justify-center layout px-0">
						<v-icon
							small
							class="mr-2"
							@click="editCity(props.item)"
							>
							edit
						</v-icon>
						<v-icon
							small
							@click="deleteCity(props.item)"
							>
							delete
						</v-icon>
					</td>
				</template>
			</v-data-table>
		</v-flex>
	</v-layout>
</template>
<script>
export default {
	data: () => ({
		baseURI: "/cities/",
		dialog: false,
		headers: [
			{text: 'Nombre',value: 'name'},
		],
		city: {
			name: '',
		},
		defaultCity: {
			name: '',
		},
		cities: [],
		editedIndex: -1,
		message: '',
		alert: false,
	}),
	computed: {
		formTitle () {
			return this.editedIndex == -1 ? 'Nueva Ciudad' : 'Editar Ciudad'
		}
	},
	methods: {
		initialize: function() {
			this.$http.get(this.baseURI)
			.then(response => {
				this.cities = response.data
			})
			.catch(() => {
				alert("Ha ocurrido un error. Inténtalo más tarde")
			});
		},
		submit: function(){
			if(this.editedIndex > -1){
				let city = this.cities[this.editedIndex]
				this.$http.put(this.baseURI+city.id+'/', this.city)
				.then(response => {
					this.message = "La ciudad fue actualizada exitosamente"
					this.alert = true
					this.$refs.form.reset()
					this.close()
					this.initialize()
				}).catch(error => {
					alert("Ha ocurrido un error. Inténtalo más tarde")
				});
			}
			else{
				this.$http.post(this.baseURI, this.city)
				.then(response => {
					this.message = "La ciudad " +response.data.name+ " fue creado exitosamente"
					this.alert = true
					this.$refs.form.reset()
					this.close()
					this.initialize()
				})
				.catch(error => {
					alert("Ha ocurrido un error. Inténtalo más tarde")
				});
			}
			
		},
		deleteCity: function(city){
			let resp = confirm('¿Estás seguro que quieres eliminar este registro?')
			if(resp){
				this.$http.delete(this.baseURI+city.id)
				.then(response => {
					this.message = "La ciudad fue eliminada exitosamente"
					this.alert = true
					this.initialize()
				})
				.catch(error => {
					alert("Ha ocurrido un error. Inténtalo más tarde.")
				});
			}
		},
		editCity: function(city){
			this.editedIndex = this.cities.indexOf(city)
			this.city = Object.assign({}, city)
			this.dialog = true
		},
		close: function() {
			this.dialog = false
			this.$refs.form.reset()
			this.city = Object.assign({}, this.defaultCity)
			this.editedIndex = -1
		},
	},
	created () {
		this.initialize()
	},
}
</script>