<template>
	<v-layout row wrap>
		<v-flex xs12>
			<v-alert
				v-model="alert"
				dismissible
				type="success">
				{{ message }}
			</v-alert>
			<v-toolbar flat color="white">
				<v-toolbar-title>Choferes</v-toolbar-title>
				<v-spacer></v-spacer>
				<v-dialog v-model="dialog" max-width="500px">
					<template v-slot:activator="{ on }">
						<v-btn color="primary" dark class="mb-2" v-on="on">Agregar</v-btn>
					</template>
					<v-card>
						<v-card-title>
							<span class="headline">{{ formTitle }}</span>
						</v-card-title>

						<v-card-text>
							<v-container grid-list-md>
								<v-form ref="form">
									<v-text-field
										v-model="driver.name"
										label="Nombre"
										required
									></v-text-field>
									<v-text-field
										v-model="driver.lastname"
										label="Apellido"
										required
									></v-text-field>
									<v-text-field
										v-model="driver.age"
										label="Edad"
										type="number"
										min="0"
									></v-text-field>
								</v-form>
							</v-container>
						</v-card-text>

						<v-card-actions>
							<v-spacer></v-spacer>
							<v-btn color="danger" @click="close">Cancelar</v-btn>
							<v-btn color="success" @click="submit">Guardar</v-btn>
						</v-card-actions>
					</v-card>
				</v-dialog>
			</v-toolbar>
			<v-data-table
				:headers="headers"
				:items="drivers"
				class="elevation-1"
				>
				<template v-slot:items="props">
					<td>{{ props.item.fullName }}</td>
					<td>{{ props.item.age }}</td>
					<td class="justify-center layout px-0">
						<v-icon
							small
							class="mr-2"
							@click="editDriver(props.item)"
							>
							edit
						</v-icon>
						<v-icon
							small
							@click="deleteDriver(props.item)"
							>
							delete
						</v-icon>
					</td>
				</template>
			</v-data-table>
		</v-flex>
	</v-layout>
</template>
<script>
export default {
	data: () => ({
		baseURI: "/drivers/",
		dialog: false,
		headers: [
			{text: 'Nombre Completo',value: 'fullName'},
			{text: 'Edad', value: 'age'},
		],
		driver: {
			name: '',
			lastname: '',
			age: null,
			gender: '',
		},
		defaultDriver: {
			name: '',
			lastname: '',
			age: null,
			gender: '',
		},
		drivers: [],
		editedIndex: -1,
		message: '',
		alert: false,
	}),
	computed: {
		formTitle () {
			return this.editedIndex == -1 ? 'Nuevo Chofer' : 'Editar Chofer'
		}
	},
	methods: {
		initialize: function() {
			this.$http.get(this.baseURI)
			.then(response => {
				this.drivers = response.data
			})
			.catch(() => {
				alert("Ha ocurrido un error. Inténtalo más tarde")
			});
		},
		submit: function(){
			if(this.editedIndex > -1){
				let driver = this.drivers[this.editedIndex]
				this.$http.put(this.baseURI+driver.id+'/', this.driver)
				.then(response => {
					this.message = "El chofer " +response.data.fullName+ " fue actualizado exitosamente"
					this.alert = true
					this.$refs.form.reset()
					this.close()
					this.initialize()
				}).catch(error => {
					alert("Ha ocurrido un error. Inténtalo más tarde")
				});
			}
			else{
				this.$http.post(this.baseURI, this.driver)
				.then(response => {
					this.message = "El chofer " +response.data.fullName+ " fue creado exitosamente"
					this.alert = true
					this.$refs.form.reset()
					this.close()
					this.initialize()
				})
				.catch(error => {
					alert("Ha ocurrido un error. Inténtalo más tarde")
				});
			}
			
		},
		deleteDriver: function(driver){
			let resp = confirm('¿Estás seguro que quieres eliminar este registro?')
			if(resp){
				this.$http.delete(this.baseURI+driver.id)
				.then(response => {
					this.message = "El chofer fue eliminado exitosamente"
					this.alert = true
					this.initialize()
				})
				.catch(error => {
					alert("Ha ocurrido un error. Inténtalo más tarde.")
				});
			}
		},
		editDriver: function(driver){
			this.editedIndex = this.drivers.indexOf(driver)
			this.driver = Object.assign({}, driver)
			this.dialog = true
		},
		close: function() {
			this.dialog = false
			this.$refs.form.reset()
			this.driver = Object.assign({}, this.defaultDriver)
			this.editedIndex = -1
		},
	},
	created () {
		this.initialize()
	},
}
</script>