<template>
	<v-layout row wrap>
		<v-flex xs12>
			<v-alert
				v-model="alert"
				dismissible
				type="success">
				{{ message }}
			</v-alert>
			<v-toolbar flat color="white">
				<v-toolbar-title>Trayectos</v-toolbar-title>
				<v-spacer></v-spacer>
				<v-dialog v-model="dialog" max-width="500px">
					<template v-slot:activator="{ on }">
						<v-btn color="primary" dark class="mb-2" v-on="on">Agregar</v-btn>
					</template>
					<v-card>
						<v-card-title>
							<span class="headline">{{ formTitle }}</span>
						</v-card-title>

						<v-card-text>
							<v-container grid-list-md>
								<v-alert
									v-model="errorAlert"
									dismissible
									type="error">
									<ul>
										<li v-for="(value, key) in errorMessages">
											{{ value }}
										</li>
									</ul>
								</v-alert>
								<v-form ref="form">
									<v-select
										v-model="journey.start"
										item-text="name"
										item-value="id"
										:items="cities"
										label="Ciudad Inicio"
										required
									></v-select>
									<v-select
										v-model="journey.end"
										item-text="name"
										item-value="id"
										:items="cities"
										label="Ciudad Fin"
										required
									></v-select>
								</v-form>
							</v-container>
						</v-card-text>

						<v-card-actions>
							<v-spacer></v-spacer>
							<v-btn color="danger" @click="close">Cancelar</v-btn>
							<v-btn color="success" @click="submit">Guardar</v-btn>
						</v-card-actions>
					</v-card>
				</v-dialog>
			</v-toolbar>
			<v-data-table
				:headers="headers"
				:items="journeys"
				class="elevation-1"
				>
				<template v-slot:items="props">
					<td>{{ props.item.city_start }}</td>
					<td>{{ props.item.city_end }}</td>
					<td class="justify-center layout px-0">
						<v-icon
							small
							class="mr-2"
							@click="editJourney(props.item)"
							>
							edit
						</v-icon>
						<v-icon
							small
							@click="deleteJourney(props.item)"
							>
							delete
						</v-icon>
					</td>
				</template>
			</v-data-table>
		</v-flex>
	</v-layout>
</template>
<script>
export default {
	data: () => ({
		baseURI: "/journeys/",
		dialog: false,
		headers: [
			{text: 'Ciudad Inicio',value: 'city_start'},
			{text: 'Ciudad Fin',value: 'city_end'},
		],
		journey: {
			start: null,
			end: null
		},
		defaultJourney: {
			name: '',
		},
		journeys: [],
		cities: [],
		editedIndex: -1,
		message: '',
		alert: false,
		errorMessages: [],
		errorAlert: false,
	}),
	computed: {
		formTitle () {
			return this.editedIndex == -1 ? 'Nueva Ciudad' : 'Editar Ciudad'
		},
	},
	methods: {
		initialize: function() {
			this.$http.get(this.baseURI)
			.then(response => {
				this.journeys = response.data
			})
			.catch(() => {
				alert("Ha ocurrido un error. Inténtalo más tarde")
			});

			this.$http.get('/cities/')
			.then(response => {
				this.cities = response.data
			})
			.catch(() => {
				alert("Ha ocurrido un error. Inténtalo más tarde")
			});
		},
		submit: function(){
			if(this.editedIndex > -1){
				let journey = this.journeys[this.editedIndex]
				this.$http.put(this.baseURI+journey.id+'/', this.journey)
				.then(response => {
					this.message = "El trayecto fue actualizado exitosamente"
					this.alert = true
					this.$refs.form.reset()
					this.close()
					this.initialize()
				}).catch(error => {
					alert("Ha ocurrido un error. Inténtalo más tarde")
				});
			}
			else{
				this.$http.post(this.baseURI, this.journey)
				.then(response => {
					this.message = "El trayecto fue creado exitosamente"
					this.alert = true
					this.$refs.form.reset()
					this.close()
					this.initialize()
				})
				.catch(error => {
					this.errorAlert = true
					for(var key in error.response.data){
						this.errorMessages = error.response.data[key]
					}
				});
			}
			
		},
		deleteJourney: function(journey){
			let resp = confirm('¿Estás seguro que quieres eliminar este registro?')
			if(resp){
				this.$http.delete(this.baseURI+journey.id)
				.then(response => {
					this.message = "El trayecto fue eliminado exitosamente"
					this.alert = true
					this.initialize()
				})
				.catch(error => {
					alert("Ha ocurrido un error. Inténtalo más tarde.")
				});
			}
		},
		editJourney: function(journey){
			this.errorMessages = []
			this.errorAlert = false
			this.editedIndex = this.journeys.indexOf(journey)
			this.journey = Object.assign({}, journey)
			this.dialog = true
		},
		close: function() {
			this.errorMessages = []
			this.errorAlert = false
			this.dialog = false
			this.$refs.form.reset()
			this.city = Object.assign({}, this.defaultCity)
			this.editedIndex = -1
		},
	},
	created () {
		this.initialize()
	},
}
</script>