<template>
	<v-content>
		<v-container fluid fill-height>
			<v-layout align-center justify-center>
				<v-flex xs12 sm8 md4>
					<v-card class="elevation-12">
						<v-toolbar dark color="primary">
							<v-toolbar-title>Iniciar Sesión</v-toolbar-title>
						</v-toolbar>
						<v-card-text>
							<v-form>
								<v-text-field v-model="params.username" prepend-icon="person" name="login" label="Usuario" type="text"></v-text-field>
								<v-text-field v-model="params.password" prepend-icon="lock" name="password" label="Contraseña" id="password" type="password"></v-text-field>
							</v-form>
						</v-card-text>
						<v-card-actions>
							<v-spacer></v-spacer>
							<v-btn color="primary" @click="login()">Login</v-btn>
						</v-card-actions>
					</v-card>
				</v-flex>
			</v-layout>
		</v-container>
	</v-content>
</template>
<script>
export default {
	data: () => ({
		params: {
			username: null,
			password: null
		}
	}),
	methods: {
		login: function(){
			if(this.params.username == null || this.params.password == null){
				alert("Debes completar la información")
			}
			else{
				//disparamos el evento para iniciar la sesion desde el store
				this.$store.dispatch('getToken', this.params).then(response => {
					this.$router.push({name : 'home'})
				}).catch(error => {
					alert("El usuario o contraseña son incorrectos")
				})
			}
		}
	}
}
</script>