<template>
	<v-container fluid fill-height>
		<v-layout 
		justify-center
		align-center>
			<v-btn depressed large color="primary" @click="showReport1()">Trayectos y promedio de pasajeros</v-btn>
			<v-btn depressed large color="primary" @click="showReport2()">Ventas</v-btn>
			<Report1
			:show="report1"
			@close="closeReport"
			/>
			<Report2
			:show="report2"
			@close="closeReport"
			/>
		</v-layout>
	</v-container>
</template>
<script>
export default {
	components: { 
		Report1: () => import("@/components/Report1"),
		Report2: () => import("@/components/Report2")
	},
	data: () => ({
		report1: false,
		report2: false,
	}),
	methods: {
		closeReport: function(){
			if(this.report1)
				this.report1 = false
			if(this.report2)
				this.report2 = false
		},
		showReport1: function(){
			//se emite el evento para ver el reporte1
			this.eventBus.$emit('showReport1')
			this.report1 = true
			this.report2 = false
		},
		showReport2: function(){
			//se emite el evneto para ver el reporte2
			this.eventBus.$emit('showReport2')
			this.report2 = true
			this.report1 = false
		}
	}
}
</script>