<template>
	<v-layout row wrap>
		<v-flex xs12>
			<v-alert
				v-model="alert"
				dismissible
				type="success">
				{{ message }}
			</v-alert>
			<v-toolbar flat color="white">
				<v-toolbar-title>Horarios</v-toolbar-title>
				<v-spacer></v-spacer>
				<v-dialog v-model="dialog" max-width="500px">
					<template v-slot:activator="{ on }">
						<v-btn color="primary" dark class="mb-2" v-on="on">Agregar</v-btn>
					</template>
					<v-card>
						<v-card-title>
							<span class="headline">{{ formTitle }}</span>
						</v-card-title>

						<v-card-text>
							<v-container grid-list-md>
								<v-form ref="form">
									<v-select
										v-model="schedule.journey"
										item-text="fullName"
										item-value="id"
										:items="journeys"
										label="Trayecto"
										required
									></v-select>
									<v-select
										v-model="schedule.bus_driver"
										item-text="name"
										item-value="id"
										:items="bus_drivers"
										v-on:change="onChangeBusDriver"
										label="Tripulación"
										required
									></v-select>
									<v-text-field
										v-model="busInformation"
										label="Bus: Código - Patente"
										readonly
									></v-text-field>
									<v-text-field
										v-model="driverInformation"
										label="Chofer"
										readonly
									></v-text-field>
									<v-menu
										ref="menu1"
										v-model="menu1"
										:close-on-content-click="false"
										:nudge-right="40"
										lazy
										transition="scale-transition"
										offset-y
										full-width
										min-width="290px"
									>
										<template v-slot:activator="{ on }">
											<v-text-field
												v-model="schedule.new_date_start"
												label="Fecha Salida"
												prepend-icon="event"
												readonly
												v-on="on"
											></v-text-field>
										</template>
										<v-date-picker v-model="schedule.new_date_start" :min="today" no-title scrollable>
											<v-spacer></v-spacer>
											<v-btn flat color="primary" @click="menu1 = false">Cancel</v-btn>
											<v-btn flat color="primary" @click="$refs.menu1.save(schedule.new_date_start)">OK</v-btn>
										</v-date-picker>
									</v-menu>
									<v-menu
										ref="menu2"
										v-model="menu2"
										:close-on-content-click="false"
										:nudge-right="40"
										:return-value.sync="schedule.new_time_start"
										lazy
										transition="scale-transition"
										offset-y
										full-width
										max-width="290px"
										min-width="290px"
									>
										<template v-slot:activator="{ on }">
											<v-text-field
											v-model="schedule.new_time_start"
											label="Horario Salida"
											prepend-icon="access_time"
											readonly
											v-on="on"
											></v-text-field>
										</template>
										<v-time-picker
											v-if="menu2"
											v-model="schedule.new_time_start"
											full-width
											@click:minute="$refs.menu2.save(schedule.new_time_start)"
										></v-time-picker>
									</v-menu>
									<v-menu
										ref="menu3"
										v-model="menu3"
										:close-on-content-click="false"
										:nudge-right="40"
										lazy
										transition="scale-transition"
										offset-y
										full-width
										min-width="290px"
									>
										<template v-slot:activator="{ on }">
											<v-text-field
												v-model="schedule.new_date_end"
												label="Fecha Llegada"
												prepend-icon="event"
												readonly
												v-on="on"
											></v-text-field>
										</template>
										<v-date-picker v-model="schedule.new_date_end" :min="today" no-title scrollable>
											<v-spacer></v-spacer>
											<v-btn flat color="primary" @click="menu3 = false">Cancel</v-btn>
											<v-btn flat color="primary" @click="$refs.menu3.save(schedule.new_date_end)">OK</v-btn>
										</v-date-picker>
									</v-menu>
									<v-menu
										ref="menu4"
										v-model="menu4"
										:close-on-content-click="false"
										:nudge-right="40"
										:return-value.sync="schedule.new_time_end"
										lazy
										transition="scale-transition"
										offset-y
										full-width
										max-width="290px"
										min-width="290px"
									>
										<template v-slot:activator="{ on }">
											<v-text-field
											v-model="schedule.new_time_end"
											label="Horario Llegada"
											prepend-icon="access_time"
											readonly
											v-on="on"
											></v-text-field>
										</template>
										<v-time-picker
											v-if="menu4"
											v-model="schedule.new_time_end"
											full-width
											@click:minute="$refs.menu4.save(schedule.new_time_end)"
										></v-time-picker>
									</v-menu>
								</v-form>
							</v-container>
						</v-card-text>

						<v-card-actions>
							<v-spacer></v-spacer>
							<v-btn color="danger" @click="close">Cancelar</v-btn>
							<v-btn color="success" @click="submit">Guardar</v-btn>
						</v-card-actions>
					</v-card>
				</v-dialog>
			</v-toolbar>
			<v-data-table
				:headers="headers"
				:items="schedules"
				class="elevation-1"
				>
				<template v-slot:items="props">
					<td>{{ props.item.city_start }}</td>
					<td>{{ dateTimeFormat(props.item.time_start, 'DD-MM-YYYY') }}</td>
					<td>{{ dateTimeFormat(props.item.time_start, 'HH:mm') }}</td>
					<td>{{ props.item.city_end }}</td>
					<td>{{ dateTimeFormat(props.item.time_end, 'DD-MM-YYYY') }}</td>
					<td>{{ dateTimeFormat(props.item.time_end, 'HH:mm') }}</td>
					<td class="justify-center layout px-0">
						<v-icon
							small
							class="mr-2"
							@click="editSchedule(props.item)"
							>
							edit
						</v-icon>
						<v-icon
							small
							@click="deleteSchedule(props.item)"
							>
							delete
						</v-icon>
					</td>
				</template>
			</v-data-table>
		</v-flex>
	</v-layout>
</template>
<script>
export default {
	data: () => ({
		baseURI: "/schedules/",
		today: new Date().toISOString().substr(0, 10),
		dialog: false,
		menu1: false,
		menu2: false,
		menu3: false,
		menu4: false,
		headers: [
			{text: 'Ciudad Salida',value: 'city_start'},
			{text: 'Fecha Salida',value: 'time_start'},
			{text: 'Horario Salida',value: 'time_start'},
			{text: 'Ciudad Llegada',value: 'city_end'},
			{text: 'Fecha Llegada',value: 'time_end'},
			{text: 'Horario Llegada',value: 'time_end'},
		],
		schedule: {
			time_start: '',
			time_end: '',
			journey: null,
			bus_driver: null,
			new_time_start: '',
			new_time_end: '',
			new_date_start: '',
			new_date_end: ''
		},
		defaultSchedule: {
			time_start: '',
			time_end: '',
			journey: null,
			bus_driver: null,
			date_start: '',
			date_end: ''
		},
		schedules: [],
		bus_drivers: [],
		drivers: [],
		journeys: [],
		buses: [],
		editedIndex: -1,
		message: '',
		alert: false,
		busInformation: '',
		driverInformation: '',
	}),
	computed: {
		formTitle () {
			return this.editedIndex == -1 ? 'Nuevo Horario' : 'Editar Horario'
		}
	},
	methods: {
		initialize: function() {
			this.$http.get(this.baseURI)
			.then(response => {
				this.schedules = response.data
			})
			.catch(error => {
				alert("Ha ocurrido un error. Inténtalo más tarde")
			});

			this.$http.get('/journeys/')
			.then(response => {
				this.journeys = response.data
			})
			.catch(error => {
				alert("Ha ocurrido un error. Inténtalo más tarde")
			});

			this.$http.get('/bus_driver/')
			.then(response => {
				this.bus_drivers = response.data
			})
			.catch(error => {
				alert("Ha ocurrido un error. Inténtalo más tarde")
			});
		},
		submit: function(){
			if(this.editedIndex > -1){
				let schedule = this.schedules[this.editedIndex]
				this.schedule.time_start = this.schedule.new_date_start + " " + this.schedule.new_time_start
				this.schedule.time_end = this.schedule.new_date_end + " " + this.schedule.new_time_end
				this.$http.put(this.baseURI+schedule.id+'/', this.schedule)
				.then(response => {
					this.message = "El horario fue actualizado exitosamente"
					this.alert = true
					this.$refs.form.reset()
					this.close()
					this.initialize()
				}).catch(error => {
					alert("Ha ocurrido un error. Inténtalo más tarde")
				});
			}
			else{
				this.schedule.time_start = this.schedule.new_date_start + " " + this.schedule.new_time_start
				this.schedule.time_end = this.schedule.new_date_end + " " + this.schedule.new_time_end
				this.$http.post(this.baseURI, this.schedule)
				.then(response => {
					this.message = "El horario fue creado exitosamente"
					this.alert = true
					this.$refs.form.reset()
					this.close()
					this.initialize()
				})
				.catch(error => {
					alert("Ha ocurrido un error. Inténtalo más tarde")
				});
			}
			
		},
		deleteSchedule: function(schedule){
			let resp = confirm('¿Estás seguro que quieres eliminar este registro?')
			if(resp){
				this.$http.delete(this.baseURI+schedule.id)
				.then(response => {
					this.message = "El horario fue eliminado exitosamente"
					this.alert = true
					this.initialize()
				})
				.catch(error => {
					alert("Ha ocurrido un error. Inténtalo más tarde.")
				});
			}
		},
		editSchedule: function(schedule){
			this.editedIndex = this.schedules.indexOf(schedule)
			this.schedule = Object.assign({}, schedule)
			this.schedule.new_date_start = this.dateTimeFormat(this.schedule.time_start, 'YYYY-MM-DD')
			this.schedule.new_time_start = this.dateTimeFormat(this.schedule.time_start, 'HH:mm')
			this.schedule.new_date_end = this.dateTimeFormat(this.schedule.time_end, 'YYYY-MM-DD')
			this.schedule.new_time_end = this.dateTimeFormat(this.schedule.time_end, 'HH:mm')
			let bus_driver_edit = this.schedule.bus_driver
			let selected = this.bus_drivers.find(function(item){
				return item.id == bus_driver_edit
			});
			this.busInformation = selected.bus_code + " - " + selected.bus_registration
			this.driverInformation = selected.driver_name
			this.dialog = true
		},
		close: function() {
			this.dialog = false
			this.$refs.form.reset()
			this.schedule = Object.assign({}, this.defaultSchedule)
			this.editedIndex = -1
		},
		onChangeBusDriver: function(value){
			let selected = this.bus_drivers.find(function(item){
				return item.id = value
			});
			this.busInformation = selected.bus_code + " - " + selected.bus_registration
			this.driverInformation = selected.driver_name
		},
		dateTimeFormat: function(datetime, format){
			return this.moment(datetime).utc().format(format);
		}
	},
	created () {
		this.initialize()
	},
}
</script>