<template>
	<v-container fluid>
		<v-layout row>
			<v-flex
				xs3
				>
				<v-select
					v-model="info_search.start"
					item-text="name"
					item-value="id"
					:items="cities"
					label="Origen"
					required
				></v-select>
			</v-flex>
			<v-flex
				xs3
				offset-xs1
				>
				<v-select
					v-model="info_search.end"
					item-text="name"
					item-value="id"
					:items="cities"
					label="Destino"
					required
				></v-select>
			</v-flex>
			<v-flex
				xs4
				offset-xs1
			>
				<v-btn color="primary" @click="search">Buscar</v-btn>
			</v-flex>
		</v-layout>
		<v-layout row>
			<v-flex
				xs12
				>
				<v-data-table
					:headers="headers"
					:items="schedules"
					class="elevation-1"
					>
					<template v-slot:items="props">
						<td>{{ props.item.city_start }}</td>
						<td>{{ props.item.city_end }}</td>
						<td>{{ dateTimeFormat(props.item.time_start, 'DD-MM-YYYY') }}</td>
						<td>{{ dateTimeFormat(props.item.time_start, 'HH:mm') }}</td>
						<td>{{ dateTimeFormat(props.item.time_end, 'DD-MM-YYYY') }}</td>
						<td>{{ dateTimeFormat(props.item.time_end, 'HH:mm') }}</td>
						<td class="justify-center layout px-0">
							<v-icon
								class="mr-2"
								@click="scheduleSelected(props.item)"
								>
								search
							</v-icon>
						</td>
					</template>
				</v-data-table>
			</v-flex>
		</v-layout>
		<Reservation 
			:show="reservation"
			@close="closeReservation"
			/>
	</v-container>
</template>
<script>
export default {
	components: { Reservation: () => import("@/components/Reservation") },
	data: () => ({
		reservation: false,
		alert: false,
		message: '',
		headers: [
			{text: 'Ciudad Salida',value: 'city_start'},
			{text: 'Ciudad Llegada',value: 'city_end'},
			{text: 'Fecha Salida',value: 'time_start'},
			{text: 'Horario Salida',value: 'time_start'},
			{text: 'Fecha Llegada',value: 'time_end'},
			{text: 'Horario Llegada',value: 'time_end'},
		],
		info_search: {
			start: null,
			end: null
		},
		ticket: {
			journey: null,
		},
		cities: [],
		schedule: null,
		schedules: [],
	}),
	methods: {
		initialize: function() {
			this.$http.get('/cities/')
			.then(response => {
				this.cities = response.data
			})
			.catch(error => {
				alert("Ha ocurrido un error. Inténtalo más tarde")
			});
		},
		search: function(){
			this.$http.get('/schedules/',{
				params: this.info_search
			})
			.then(response => {
				this.schedules = response.data
			})
			.catch(error => {
				alert("Ha ocurrido un error. Inténtalo más tarde")
			});
		},
		scheduleSelected: function(schedule){
			schedule.new_date_start = this.dateTimeFormat(schedule.time_start, 'YYYY-MM-DD')
			schedule.new_time_start = this.dateTimeFormat(schedule.time_start, 'HH:mm')
			schedule.new_date_end = this.dateTimeFormat(schedule.time_end, 'YYYY-MM-DD')
			schedule.new_time_end = this.dateTimeFormat(schedule.time_end, 'HH:mm')
			this.schedule = schedule;
			// se emite el evento al componente hijo
			this.eventBus.$emit('scheduleSelected', this.schedule)
			this.reservation = true;
		},
		closeReservation: function(){
			this.reservation = false;
		},
		dateTimeFormat: function(datetime, format){
			return this.moment(datetime).utc().format(format);
		}
	},
	created () {
		this.initialize()
	},
}
</script>