<template>
	<nav>
		<v-navigation-drawer
		v-model="drawer"
		fixed
		app
		>
			<v-list dense>
				<v-list-tile v-for="link in links" :key="link.text" router :to="link.route">
					<v-list-tile-action>
						<v-icon>{{ link.icon }}</v-icon>
					</v-list-tile-action>
					<v-list-tile-content>
						<v-list-tile-title>{{ link.text }}</v-list-tile-title>
					</v-list-tile-content>
				</v-list-tile>
			</v-list>
		</v-navigation-drawer>
		<v-toolbar color="indigo" dark fixed app>
			<v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
			<v-toolbar-title>Pasajes - Destacame</v-toolbar-title>
			<v-spacer></v-spacer>
			<v-toolbar-items class="hidden-sm-and-down">
				<v-btn flat @click="logout()">Cerrar sesión</v-btn>
			</v-toolbar-items>
		</v-toolbar>
	</nav>
</template>
<script>
	export default{
		data () {
			return {
				drawer: false,
				links: [
					{ icon: 'home', text: 'Inicio', route: '/home'},
					{ icon: 'add_location', text: 'Ciudades', route: '/cities'},
					{ icon: 'directions_walk', text: 'Pasajero', route: '/passengers'},
					{ icon: 'near_me', text: 'Trayecto', route: '/journeys'},
					{ icon: 'airline_seat_recline_normal', text: 'Chofer', route: '/drivers'},
					{ icon: 'directions_bus', text: 'Bus', route: '/bus'},
					{ icon: 'assignment', text: 'Asignar Buses', route: '/bus_driver'},
					{ icon: 'departure_board', text: 'Horario', route: '/schedules'},
					{ icon: 'attach_money', text: 'Reserva', route: '/tickets'},
					{ icon: 'info', text: 'Reportes', route: '/reports'},
				]
			}
		},
		methods: {
			logout: function(){
				//se dispara evento del store para eliminar el token de sesion
				this.$store.dispatch('destroyToken').then(response => {
					this.$router.push({name : 'login'})
				})
			}
		}
	}
</script>