<template>
	<v-dialog
		v-model="show"
		fullscreen
		hide-overlay
		transition="dialog-bottom-transition"
		scrollable
		>
		<v-card tile>
			<v-toolbar card dark color="primary">
				<v-btn icon dark @click="onClose">
					<v-icon>close</v-icon>
				</v-btn>
				<v-toolbar-title>Ventas</v-toolbar-title>
				<v-spacer></v-spacer>
			</v-toolbar>
			<v-container fluid>
				<v-layout row>
					<v-flex xs4>
						<v-select
							v-model="params.journey"
							item-text="fullName"
							item-value="id"
							:items="journeys"
							label="Selecciona un Trayecto"
						></v-select>
					</v-flex>
					<v-flex xs3 offset-xs1>
						<v-text-field
							v-model="params.percentage"
							type="number"
							label="Porcentaje"
							min="0"
						></v-text-field>
					</v-flex>
					<v-flex xs2 offset-xs1>
						<v-btn color="success" @click="loadData()">Buscar</v-btn>
					</v-flex>
				</v-layout>
				<br>
				<v-layout row>
					<v-flex
						xs12
						>
						<v-data-table
							:headers="headers"
							:items="journeys_capacity"
							class="elevation-1"
							>
							<template v-slot:items="props">
								<td>{{ dateTimeFormat(props.item.time_start, 'DD-MM-YYYY') }}</td>
								<td>{{ dateTimeFormat(props.item.time_start, 'HH:mm') }}</td>
								<td>{{ dateTimeFormat(props.item.time_end, 'DD-MM-YYYY') }}</td>
								<td>{{ dateTimeFormat(props.item.time_end, 'HH:mm') }}</td>
								<td>{{ props.item.number_bus_seats }}</td>
								<td>{{ props.item.number_ocuppied_seats }}</td>
								<td>{{ props.item.ocuppied_percentage }}%</td>
							</template>
						</v-data-table>
					</v-flex>
				</v-layout>
			</v-container>
			<div style="flex: 1 1 auto;"></div>
		</v-card>
	</v-dialog>
</template>
<script>
export default {
	props: {
		show: {
			type: Boolean,
			required: true,
			default: false
		},
	},
	data: () => ({
		params: {
			journey: null,
			percentage: 0,
		},
		journeys: [],
		journeys_capacity: [],
		headers: [
			{text: 'Fecha Salida'},
			{text: 'Hora Salida'},
			{text: 'Fecha Llegada'},
			{text: 'Hora Llegada'},
			{text: 'Capacidad'},
			{text: 'N° Ventas'},
			{text: 'Porcentaje'},
		],
	}),
	methods: {
		onClose: function() {
			//se emite el evento close al componente padre
			this.$emit('close')
		},
		initialize: function() {
			this.$http.get('/journeys/')
			.then(response => {
				this.journeys = response.data
			})
			.catch(error => {
				alert("Ha ocurrido un error. Inténtalo más tarde")
			});
		},
		loadData: function(){
			if(this.params.journey == null){
				alert("Debes seleccionar un trayecto")
			}
			else{
				this.params.schedule = this.schedule
				this.$http.get('/schedules/capacity/', {params : this.params})
				.then(response => {
					this.journeys_capacity = response.data
				})
				.catch(error => {
					alert("Ha ocurrido un error. Inténtalo más tarde")
				});
			}
		},
		dateTimeFormat: function(datetime, format){
			return this.moment(datetime).utc().format(format);
		}
	},
	created () {
		//escuchando el evento
		this.eventBus.$on('showReport2', () => {
			this.initialize()
		});
	},
}
</script>