<template>
	<v-dialog
		v-model="show"
		fullscreen
		hide-overlay
		transition="dialog-bottom-transition"
		scrollable
		>
		<v-card tile>
			<v-toolbar card dark color="primary">
				<v-btn icon dark @click="onClose">
					<v-icon>close</v-icon>
				</v-btn>
				<v-toolbar-title>Trayecto y promedio de pasajeros</v-toolbar-title>
				<v-spacer></v-spacer>
			</v-toolbar>
			<v-container fluid full-height>
				<v-layout row>
					<v-flex
						xs12
						>
						<v-data-table
							:headers="headers"
							:items="journeys"
							class="elevation-1"
							>
							<template v-slot:items="props">
								<td>{{ props.item.city_start }}</td>
								<td>{{ props.item.city_end }}</td>
								<td>{{ props.item.num_passengers }}</td>
								<td>{{ props.item.num_schedules }}</td>
								<td>{{ props.item.average_passenger }}</td>
							</template>
						</v-data-table>
					</v-flex>
				</v-layout>
			</v-container>
			<div style="flex: 1 1 auto;"></div>
		</v-card>
	</v-dialog>
</template>
<script>
export default {
	props: {
		show: {
			type: Boolean,
			required: true,
			default: false
		},
	},
	data: () => ({
		journeys: [],
		headers: [
			{text: 'Ciudad Salida',value: 'city_start'},
			{text: 'Ciudad Llegada',value: 'city_end'},
			{text: 'N° Pasajeros',value: 'num_passengers'},
			{text: 'N° Horarios',value: 'num_schedules'},
			{text: 'Promedio Pasajeros',value: 'average_passenger'},
		],
	}),
	methods: {
		onClose: function() {
			//se emite el evento close hacia el padre
			this.$emit('close')
		},
		initialize: function() {
			this.$http.get('/journeys/average/')
			.then(response => {
				this.journeys = response.data
			})
			.catch(error => {
				alert("Ha ocurrido un error. Inténtalo más tarde")
			});
		},
	},
	created () {
		//escuchando el evento
		this.eventBus.$on('showReport1', () => {
			this.initialize()
		});
	},
}
</script>