<template>
	<v-dialog
		v-model="show"
		fullscreen
		hide-overlay
		transition="dialog-bottom-transition"
		scrollable
		>
		<v-card tile>
			<v-toolbar card dark color="primary">
				<v-btn icon dark @click="onClose">
					<v-icon>close</v-icon>
				</v-btn>
			<v-toolbar-title>Reserva</v-toolbar-title>
			<v-spacer></v-spacer>
			</v-toolbar>
			<v-container fluid>
				<v-layout row>
					<v-flex xs2>
						<v-card>
							<v-layout column>
								<v-card-title primary-title>
									<h4 class="headline">Salida</h4>
								</v-card-title>
								<v-divider></v-divider>
								<v-list>
									<v-list-tile>
										<v-list-tile-content>
											<v-list-tile-title>{{ schedule.city_start }}</v-list-tile-title>
										</v-list-tile-content>
									</v-list-tile>
									<v-list-tile>
										<v-list-tile-content>
											<v-list-tile-title>{{ schedule.new_date_start }}</v-list-tile-title>
										</v-list-tile-content>
									</v-list-tile>
									<v-list-tile>
										<v-list-tile-content>
											<v-list-tile-title>{{ schedule.new_time_start }}</v-list-tile-title>
										</v-list-tile-content>
									</v-list-tile>
								</v-list>
							</v-layout>
						</v-card>
						<br>
						<v-card>
							<v-layout column>
								<v-card-title primary-title>
									<h4 class="headline">Llegada</h4>
								</v-card-title>
								<v-divider></v-divider>
								<v-list>
									<v-list-tile>
										<v-list-tile-content>
											<v-list-tile-title>{{ schedule.city_end }}</v-list-tile-title>
										</v-list-tile-content>
									</v-list-tile>
									<v-list-tile>
										<v-list-tile-content>
											<v-list-tile-title>{{ schedule.new_date_end }}</v-list-tile-title>
										</v-list-tile-content>
									</v-list-tile>
									<v-list-tile>
										<v-list-tile-content>
											<v-list-tile-title>{{ schedule.new_time_end }}</v-list-tile-title>
										</v-list-tile-content>
									</v-list-tile>
								</v-list>
							</v-layout>
						</v-card>
					</v-flex>
					<v-flex xs7 offset-xs1>
						<v-alert
							v-model="alert"
							dismissible
							type="success">
							{{ message }}
						</v-alert>
						<v-flex xs12>
							<v-layout row wrap>
								<v-flex xs6>
									<h4 class="headline">Asientos</h4>
								</v-flex>
								<v-flex xs6>
									<h4 class="headline text-xs-right">Bus: {{ schedule.bus_registration }}</h4>
								</v-flex>
							</v-layout>
						</v-flex>
						<v-container grid-list-md text-xs-center>
							<v-layout row wrap>
								<v-flex v-for="i in seats" :key="`${i.id}`" xs1>
									<v-card :color="setColor(i)" @click="onClickSeat(i)" style="cursor: pointer">
										<v-card-text class="px-0">{{ i.number }}</v-card-text>
									</v-card>
								</v-flex>
							</v-layout>
						</v-container>
						<v-flex xs12>
							<v-form ref="form">
								<v-select
									v-model="ticket.passenger"
									item-text="fullName"
									item-value="id"
									:items="passengers"
									label="Pasajero"
									required
								></v-select>
								<v-text-field
									v-model="ticket.seat"
									label="Asiento"
									type="number"
									disabled
								></v-text-field>
								<v-text-field
									v-model="ticket.comment"
									label="Comentario (opcional)"
									type="text"
								></v-text-field>
								<v-btn color="success" @click="submit">Guardar</v-btn>
							</v-form>
						</v-flex>
					</v-flex>
				</v-layout>
			</v-container>
			<div style="flex: 1 1 auto;"></div>
		</v-card>
	</v-dialog>
</template>	

<script>
export default {
	props: {
		show: {
			type: Boolean,
			required: true,
			default: false
		},
	},
	data: () => ({
		alert: false,
		message: null,
		ticket: {
			passenger: null,
			seat: null,
			seatNumber: null,
			schedule: null,
			comment: null,
		},
		defaultTicket: {
			passenger: null,
			seat: null,
			seatNumber: null,
			schedule: null,
			comment: null,
		},
		params: {
			bus_driver: null,
			schedule: null
		},
		schedule: {},
		seatSelected: {},
		seatSelectedIndex : -1,
		seats: [],
		passenger: {},
		passengers: [],
	}),
	methods: {
		onClose: function() {
			//se emite el evento al componente padre
			this.$emit('close')
		},
		setColor(seat){
			return seat.ocuppied ? "primary" : "white"
		},
		getSeats: function(){
			this.$http.get('/seats/', {
				params: this.params
			}).then(response => {
				this.seats = response.data
				this.seats.forEach(function(item){
					item.color = "blue lighten-3"
				})
			})
			.catch(error => {
				alert("Ha ocurrido un error. Inténtalo más tarde")
			});

			this.$http.get('/passengers/').then(response => {
				this.passengers = response.data
			})
			.catch(error => {
				alert("Ha ocurrido un error. Inténtalo más tarde")
			});
		},
		onClickSeat: function(seat){
			if(seat.ocuppied)
				alert("El asiento se encuentra ocupado.")
			else{
				this.seatSelectedIndex = this.seats.indexOf(seat)
				this.seatSelected = this.seats[this.seatSelectedIndex]
				this.ticket.seat = this.seatSelected.id
				this.ticket.seatNumber = this.seatSelected.number
			}
		},
		submit: function(){
			this.$http.post('/tickets/', this.ticket).then(response => {
				this.ticket = Object.assign({}, this.defaultTicket)
				this.ticket.schedule = this.schedule.id
				this.getSeats()
				this.message = "La reserva fue realizada exitosamente"
				this.alert = true
			})
			.catch(error => {
				alert("Ha ocurrido un error. Inténtalo más tarde")
			});
		}
	},
	created() {
		//escuchando el evento
		this.eventBus.$on('scheduleSelected', (schedule) => {
			this.ticket = Object.assign({}, this.defaultTicket)
			this.schedule = schedule
			this.ticket.schedule = this.schedule.id
			this.params.bus_driver = this.schedule.bus_driver
			this.params.schedule = this.schedule.id
			this.getSeats()
		});
	},
}
</script>