<template>
    <v-app id="inspire">
        <template v-if="loggedIn">
            <Navbar/>
            <v-content>
                <v-container fluid>
                    <v-layout>
                        <router-view></router-view>
                    </v-layout>
                </v-container>
            </v-content>
            <v-footer color="indigo" app>
                <span class="white--text">&copy; 2019</span>
            </v-footer>
        </template>
        <template v-else>
            <router-view></router-view>
        </template>
    </v-app>
</template>

<script>
import Navbar from '@/components/Navbar'

export default {
    name: 'App',
    components: { Navbar },
    data () {
        return {
        }
    },
    computed: {
        loggedIn(){
            return this.$store.getters.loggedIn
        }
    }
}
</script>